<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://localhost/ebord/res/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="http://localhost/ebord/res/css/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto col-lg-6 col-10">
          <h1>綁定資料庫</h1>
          <form class="text-left">
            <div class="form-group"> <label for="form16">資料庫名稱</label> <input type="text" class="form-control" id="form16" placeholder="Database Name"> </div>
            <div class="form-group"> <label for="form17">資料庫帳號</label> <input type="text" class="form-control" id="form17" placeholder="Database User"> </div>
            <div class="form-group"> <label for="form17">資料庫密碼</label> <input type="text" class="form-control" id="form17" placeholder="Database Password"> </div><button type="submit" class="btn btn-primary" contenteditable="true">測試鏈結資料庫</button>
            <div class="form-group"><label id="database_Status" class="w-100 text-right text-info">Label</label></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center d-md-flex justify-content-between align-items-center" style="">
        <ul class="nav d-flex justify-content-center">
          <li class="nav-item"> <a class="nav-link active" href="http://localhost/ebord">公佈欄</a> </li>
          <!-- <li class="nav-item"> <a class="nav-link" href="http://localhost/ebord/views/bord_action.html">公佈欄操作</a> </li> -->
          <!-- <li class="nav-item"> <a class="nav-link" href="#">About</a> </li> -->
        </ul>
        <p class="mb-0 py-1">© 2022-05-01 Created</p>
      </div>
    </div>
  </div>
</div>
<script src="http://localhost/ebord/res/js/jquery-3.3.1.slim.min.js" ></script>
<script src="http://localhost/ebord/res/js/popper.min.js" ></script>
<script src="http://localhost/ebord/res/js/bootstrap.min.js" ></script>
</body>

</html>
